.cabecalho {
    background: #f8f8f8;
    width: 100%;
    padding-top: 2rem;
}

.cabecalho__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 0.5rem;
}

.cabecalho__logo___titulo {
  text-align: center;
  font-size: 1.7rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.cabecalho__logo___imagem {
    width: 5vw;
}

.cabecalho__conteudo {
    display: flex;
    align-items: center;
}

.cabecalho__formulario {
  padding-left: 0.2rem;
  background-color: black;
  border-radius: 5px;
}

.cabecalho__formulario___barra {
  width: 30vw;
  height: 2rem;
  border: none;
  font-size: 1rem;
  padding-left: 1rem;
}

.cabecalho__formulario___botao {
  background: none;
  color: #f8f8f8;
  border: none;
  text-align: center;
  width: 2.5rem;
  height: 2.5rem;
}

.cabecalho__atalhos {
  margin-left: auto;
}

.cabecalho__atalho___link {
  display: inline-block;
  margin-right: .7rem;
  margin-bottom: 1.25rem;
  margin-left: .7rem;
}

.cabecalho__atalho___texto {
  text-transform: uppercase;
  color: black;
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
}

.cabecalho__atalho___texto:hover {
    opacity: 50%;
    text-decoration: underline;
}

.cabecalho__navegacao {
  background: black;
  margin-top: 1rem;
  padding: 1rem 0;
}

.cabecalho__navegacao ul {
  display: flex;
  justify-content: space-evenly;
}

.cabecalho__navegacao___link {
  color: #f8f8f8;
  font-size: 1.5rem;
  font-weight: bolder;
  border: none;
  text-decoration: none;
}
